table {
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-top: 10vh;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.search
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}