<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      
      <ng-container matColumnDef="type" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      
      <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      
      <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef >rating </th>
      <td mat-cell *matCellDef="let element">{{element.rating}}</td>
      </ng-container>
      
      <ng-container matColumnDef="dateAdded">
      <th mat-header-cell *matHeaderCellDef>dateAdded</th>
      <td mat-cell *matCellDef="let element">{{element.dateAdded | date}}</td>
      </ng-container>
      <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>duration</th>
      <td mat-cell *matCellDef="let element">{{element.duration}}</td>
      </ng-container>
      
      <ng-container matColumnDef="Play">
      <th mat-header-cell *matHeaderCellDef> Watch </th>
      <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="redirectToPlay(element.showId)">
      <mat-icon class="mat-18">play_circle_outline</mat-icon>
      </button>
      </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,15, 20]">
    </mat-paginator>
    

