.login-container {
  margin-top: 5px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.mat-raised-button {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}
.socialMediaFlex{
 
  display:flex;
  justify-content: space-around;
}